@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-4">

    <h1 class="text-center mb-5">
        Página Principal
    </h1>

    <Saludo Nombre="Juan Pérez" />

    <Saludo Nombre="María Gómez" />

    <Saludo Nombre="Carlos Rodríguez" />

    <Saludo Nombre="Lucía Fernández" />

</div>  